<div class="container">
  <h1>Shop</h1>

  <%= form_tag(search_results_path, method: :get) do %>
    <%= text_field_tag "search" %>
    <%= submit_tag "Search" %>
  <% end %>
</div>

<div class="container">
  <% @products.each_with_index do |product, index| %>
    <%= render product, last: (index + 1) % 4 == 0 %>
  <% end %>
</div>

<div class="container">
  <%= paginate(@products) %>
</div>
